{% extends 'admin/base.html' %}


{% block body %}
    <script>
        const session_websocket = new WebSocket("{{ WEBSOCKET_HOST }}");
        const session_id = "{{ session['session_id'] }}";
        const pricePerSat = {{ price_per_sat }};
    </script>
    {% assets filters="jsmin", output="gen/packed.js", "js/app.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 d-none d-md-block">
                {% include 'home_view/blocks/joule.html' %}
            </div>
            <div class="col-lg-7">
                {% include 'home_view/blocks/capacity_request/capacity_request.html' %}
            </div>
        </div>
    </div>
{% endblock %}