{% macro definition_list(title, data_dict) %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{ title }}</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
            {% for key in data_dict.keys()|sort %}
                    <dt>{{ key }}</dt>
                    <dd>
                        {% if data_dict[key] is string or data_dict[key] is number %}
                            {{ data_dict[key] }}
                        {% elif data_dict[key] is mapping %}
                            <ul class="list-unstyled">
                                {% for nested_key, nested_value in data_dict[key].items() %}
                                    <li>
                                        {{ nested_key }}: {{ nested_value }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% elif data_dict[key] is iterable %}
                            <ul class="list-unstyled">
                                {% for item in data_dict[key] %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        </div>
    </div>

{%- endmacro %}
