{% macro connect() %}
    <div class="card mb-4 shadow-sm">
        <h4 class="card-header">
            Connect with our node
        </h4>
        <div class="card-body">
            <div class="container">
                <form id="connect_form" onsubmit="">
                    <div class="form-group">
                        <label for="pubkey"></label>
                        <textarea class="form-control"  type="text" id="pubkey" name="pubkey" placeholder="Your PubKey"></textarea>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-lg btn-success" type="submit">
                            Connect
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%- endmacro %}
