{% macro joule() %}
    <div class="card mb-4 shadow-sm">
        <h4 class="card-header">
            Start Here
        </h4>

        <div class="card-body">
            <p>
                Joule is the best way to use Lightning
            </p>
            <img class="card-img-top"
                 src="{{ url_for('static',filename='img/joule.png') }}"
                 alt="Joule Icon" width="100">
            <div class="text-center">
                <a class="btn navbar-btn btn-info btn-lg"
                   href="https://medium.com/lightning-power-users/bitcoin-lightning-joule-chrome-extension-ac149bb05cb9"
                   target="_blank">
                    Install Joule
                </a>
            </div>
        </div>
    </div>
{%- endmacro %}
