{% extends 'admin/base.html' %}

{% import 'macros/home_view/joule_macro.html' as j %}
{% import 'macros/home_view/connect_macro.html' as c %}


{% block body %}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script type="text/javascript" charset="utf-8">
        const user_websocket = new WebSocket("{{ WEBSOCKET_HOST }}");
        const user_id = "{{ session['user_id'] }}";
        document.addEventListener('DOMContentLoaded', function () {
            user_websocket.onopen = function (event) {
                const user_id_object = {
                    user_id: user_id,
                    action: 'open'
                };
                const user_id_string = JSON.stringify(user_id_object);
                user_websocket.send(user_id_string);
            };
            user_websocket.onmessage = function (event) {
                console.log(event.data);
            };

            function connectFormSubmit(event) {
                event.preventDefault();
                const form_data = $(this).serialize();
                console.log(form_data);
                user_websocket.send(form_data)
            }
            const connectForm = document.getElementById('connect_form');
            connectForm.onsubmit = connectFormSubmit;

        }, false);


    </script>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    {{ j.joule() }}
                </div>
                <div class="col-lg-6">
                    {{ c.connect() }}
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

{% endblock %}