{% extends 'admin/base.html' %}

{% import 'macros/home_view/joule_macro.html' as j %}
{% import 'macros/home_view/connect_macro.html' as c %}


{% block body %}
    <script type="module" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script
            type="module"
            src="https://unpkg.com/webln@0.1.0/dist/webln.min.js"
            integrity="sha384-KbiwDLn7g4wD+1fs5EA/1c6p4Zzy0u8RwWObPvI+ty1WpALihdyvjF7/yKJzJk/I" crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static',filename='js/app.js') }}" type="module"></script>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    {{ j.joule() }}
                </div>
                <div class="col-lg-6">
                    {{ c.connect() }}
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

{% endblock %}