{% extends 'admin/base.html' %}

{% import 'macros/home_view/joule_macro.html' as j %}
{% import 'macros/home_view/connect_macro.html' as c %}


{% block body %}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        const user_websocket = new WebSocket("{{ WEBSOCKET_HOST }}");
        const user_id = "{{ session['user_id'] }}";
    </script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    {{ j.joule() }}
                </div>
                <div class="col-lg-6">
                    {{ c.connect() }}
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

{% endblock %}